<lib-auto-hide-toolbar shadowPadding="9">
  <div style="background-color: purple; padding: 5px;">
    <h1 style="margin: 0px; color: wheat;">Demo Toolbar</h1>
  </div>
</lib-auto-hide-toolbar>

<div>
  <p>
    Lorem
  </p>
  <p>
    Lorem
  </p>
  <p>
    Lorem
  </p>
  <p>
    Lorem
  </p>
  <p>
    Lorem
  </p>
  <p>
    Lorem
  </p>
  <p>
    Lorem
  </p>
  <p>
    Lorem
  </p>
  <p>
    Lorem
  </p>
  <p>
    Lorem
  </p>
  <p>
    Lorem
  </p>
  <p>
    Lorem
  </p>
  <p>
    Lorem
  </p>
  <p>
    Lorem
  </p>
  <p>
    Lorem
  </p>
  <p>
    Lorem
  </p>
  <p>
    Lorem
  </p>
  <p>
    Lorem
  </p>
  <p>
    Lorem
  </p>
  <p>
    Lorem
  </p>
  <p>
    Lorem
  </p>
  <p>
    Lorem
  </p>
  <p>
    Lorem
  </p>
  <p>
    Lorem
  </p>
  <p>
    Lorem
  </p>
  <p>
    Lorem
  </p>
  <p>
    Lorem
  </p>
</div>
